## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [51]:
c = list(app_train.shape)
print("row is {}, column is {}.".format(c[0],c[1]))

row is 307511, column is 122.

#### 列出所有欄位

In [52]:
print(app_train.columns)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [53]:
app_train.iloc[:,[3,5,7]]

       CODE_GENDER FLAG_OWN_REALTY  AMT_INCOME_TOTAL
0                M               Y        202500.000
1                F               N        270000.000
2                M               Y         67500.000
3                F               Y        135000.000
4                M               Y        121500.000
5                M               Y         99000.000
6                F               Y        171000.000
7                M               Y        360000.000
8                F               Y        112500.000
9                M               Y        135000.000
10               F               Y        112500.000
11               F               Y         38419.155
12               F               Y         67500.000
13               M               N        225000.000
14               F               Y        189000.000
15               M               Y        157500.000
16               M               N        108000.000
17               F               Y         81000.000
18               F               Y        112500.000
19               F               Y         90000.000
20               M               Y        135000.000
21               F               Y        202500.000
22               F               N        450000.000
23               F               Y         83250.000
24               M               N        135000.000
25               F               Y         90000.000
26               F               Y        112500.000
27               M               Y        112500.000
28               M               Y        270000.000
29               M               Y         90000.000
...            ...             ...               ...
307481           M               Y        225000.000
307482           F               Y        225000.000
307483           F               Y         99000.000
307484           F               N        540000.000
307485           F               Y        270000.000
307486           F               Y        292500.000
307487           M               Y        117000.000
307488           F               N        157500.000
307489           F               Y        225000.000
307490           M               Y         81000.000
307491           M               Y         90000.000
307492           M               Y        585000.000
307493           F               Y        135000.000
307494           M               N        270000.000
307495           M               N        180000.000
307496           F               N        360000.000
307497           F               Y        180000.000
307498           M               Y        198000.000
307499           F               Y         81000.000
307500           F               Y        261000.000
307501           F               Y         81000.000
307502           F               Y         94500.000
307503           F               Y        112500.000
307504           F               Y        153000.000
307505           F               Y        112500.000
307506           M               N        157500.000
307507           F               Y         72000.000
307508           F               Y        153000.000
307509           F               Y        171000.000
307510           F               N        157500.000

[307511 rows x 3 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子